**A linguagem ("Hello Word")**

In [ ]:
print ("Hello Word")

Hello Word

**Tipos de Dados básicos**

In [ ]:
print (type(2)) # O tipo do número 2 é int (número inteiro)
print (type(2.5)) # O tipo do número 2.5 é float (número decimal)
print (type(1+1j)) # o tipo do número 1 + 1j (j é o número imaginário) é complexo 
print (type('O termo "termo" esta entre aspas\n')) #Sequencia de caracteres para armazenar texto
print (type(True)) # tipo boolenao para Verdadeiro (True) e Falso (False)

<class 'int'>
<class 'float'>
<class 'complex'>
<class 'str'>
<class 'bool'>

**Variáveis**

Uma variável não pode ter o nome começado por números, evitem palavras-chaves da linguagem e caracteres especiais

In [ ]:
altura = 1.98 # nome_da_variavel = valor
texto = "Hello Word"
chovendo = False

In [ ]:
print(altura, texto, chovendo)

1.98 Hello Word False

Operações

In [ ]:
print(2.5+5j + 1) # o '+' é a soma usual
print(10 - 1) # o '-' é a subtração usual 
print(2 * -2.5) # p '*' é a multiplicação usual
print(10/3) # o '/' é a divisão usual

print(4 ** 0.5) # o ** é a potenciação 
print(10 // 3) # o quociente da divisão inteira
print(10 % 3) # o '%' é o resto da divisão inteira

(3.5+5j)
9
-5.0
3.3333333333333335
2.0
3
1

**Com texto**

In [ ]:
anos = input("Digite sua idade:")
frase = "Ola eu sou Helissom e tenho " + anos + " anos "  # o '+' é a concatenção de strings
print(frase)

Digite sua idade:secret
Ola eu sou Helissom e tenho secret anos

In [ ]:
## Escreva uma sequencia de operações em python que converta um valor em real para dólar
valor_em_real = float(input("Digite o valor em reais: "))
valor_em_dolar = valor_em_real / 5.62
saida = f'O valor é $ {valor_em_dolar} dolar'
print(saida)
## Escreva uma sequencia de operações em python que converta um valor em dolar para dólar

Digite o valor em reais: 10
O valor é $ 1.7793594306049823 dolar